In [4]:
import pandas as pd

In [28]:
tup = {"height" : [10, 20, 30, 40, 50, 60, 70], "weight" : [-200, +2000, -20000, +200000, -2000000, +20000000, -200000000]}

In [29]:
df = pd.DataFrame(tup)

In [30]:
df.corr()

          height    weight
height  1.000000 -0.562242
weight -0.562242  1.000000